.prods{
    border-color:yellowgreen;
    border-width:thin;
    border-style:solid;
    width:20%;
    display: inline-block;
    background-color: rgb(233, 221, 221);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:1%;
}

.img{
    width:30%;
    height:30%;
}

.name{
    color:purple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:3%;
}

.description{
    color:black;
}

.price{
    color: "green";
}
